body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    color: #333;
    background: -webkit-linear-gradient(#ff6b6b, #f8e71c, #7ed321, #50e3c2, #007aff, #d0011b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer {
    background-color: #4CAF50;
    color: black;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main .container {
    margin-top: 20px;
}

h1,
h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    background-color: #e0f7fa;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #4CAF50;
    font-size: 18px;
}

a:hover {
    text-decoration: underline;
}

button {
    background-color: #4CAF50;
    color: #f0f0f0;
    font-weight: bold;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;

}

button:hover {
    background-color: #09a00e;
}

@media (max-width: 600px) {
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    a {
        font-size: 16px;
    }

    .container {
        padding: 10px;
    }
}